*{
    margin: 5px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: 	#1C1C1C;
}
h1 {
    color: #FFD700;
    text-decoration: none;
}
.main{
    margin-top: 50px;
    border-radius: 5%;
    background-color:#FFD700;
    
    
}
.row{
    display: flex;
    flex-direction: row;
    gap: 2px;
}
.box{
    width: 100px;
    height: 100px;
    font-size: 50px;
    border-radius: 10%;
    margin: 1px;
    background-color: #1C1C1C;
    color: #FFD700;

}
#reset{
    margin-top: 50px;
    height: 40px;
    width: 100px;
    border-radius:10%;
    background-color: #1C1C1C;
    color: #FFD700;
    border: 2px solid #FFD700;
    cursor: pointer;
}
#new-game{
    margin-top: 50px;
    height: 40px;
    width: 100px;
    border-radius:10%;
    background-color: #1C1C1C;
    color: #FFD700;
    border: 2px solid #FFD700;
    cursor: pointer;

}
.msg-container p{
    color: #FFD700;
}
.hide{
    visibility: hidden;
}
